/* Header */
.headerBg
{
    background:black;
    height:800px;
    width:100%; 
    position:relative;
}



.hdBgImg
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.8;

}

.gradientOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(34, 40, 49, 0) 70%, rgba(34, 40, 49, 1) 100%);
    pointer-events: none; 
}

.logo
{
    width:70px;
    height:70px;   
}
.logoImg
{
    position:absolute;
    left:2%;
    top:10%;
    width:40px;
    height:40px;
    border-radius: 50px;
}


/* Title Txt Div */

.div1
{
    position: relative;
    width:100%;
    height:1200px;
}

.titleTxt{
    animation-duration: 3s;
    animation-fill-mode: both;
    color: white;
    position:absolute;
    font-weight:bold;
    font-size: 80px;
    top:7%;
    left:5%;
    
}

.subTitleTxt
{
    color: white;
    position:absolute;
    font-weight:bold;
    font-size: 43px;
    left:5%;
    top:27%;

}

.my_intro
{
    position:absolute;
    display:flex;
    align-items:center;
    width:60%;
    line-height:2;
    height:40%;
    font-size:20px;
    color:white;
    top:50%;
    left:5%;
}


/* About Me Div */

.div2

{
    position:relative;
    display:flex;
    width:95%;
    left:2.5%;
    border-radius:1%;
    height:700px;
    background:#1b2129;
    border-top: 8px solid #12161b;
    border-right: 8px solid #12161b;
}

.div2_1
{
    position:absolute;
    top:30%;
    width: 60vh;
    height: 10px;
    background: rgb(0, 173, 181);
    
}

.div2_2, .halfRound_border, .cartoonImg
{
    visibility:visible;
}

.div2_2
{
    position:absolute;
    width:30%;
    height:60%;
    right:5%;
    top:25%;
    border-radius:50%;
    border-bottom: 20px solid white;
    overflow: hidden;
}

.halfRound_border
{
    position:absolute;
    width:30%;
    height:60%;
    right:5%;
    top:27%;
    border-radius:50%;
    border-top: 20px solid #00adb5;
    border-left: 25px solid #00adb5;

    
}





.cartoonImg
{
    width:100%;
    height:100%;
}


.aboutMeTxt{
    font-size:80px;
    color:white;
    font-weight:bold;
    position:absolute;
    top:0%;
    left:5%;

}

.liGroup
{
    position:absolute;
    top:40%;
    left:3%;
}
.myInfo
{
    font-size:22px;
    color:white;
    margin-top:6%;
}

/* Project Div */

.div3
{
    width:100%;
    height:5000px;
    margin-top:15%;
    background:black;
    position:relative;
}

.div3_1
{
    position:relative;
    width:100%;
    height:1000px;
}


.projectsTxt
{
    font-size:80px;
    color:white;
    font-weight:bold;
    position:absolute;
    top:3%;
    left:5%;

}

.projectSubTxt
{
    font-size:60px;
    color:white;
    position:flex;
    text-align: center;
    align-items: center;
    margin-top:35%;
}


.bubble1, .bubble2, .bubble3, .bubble4
{
    position:absolute;
    width:300px;
    height:300px;
}

.bubble1
{
    animation: bubbleMove2 3s ease-in-out infinite alternate;
    top:80%;
    left:20%;
}

.bubble2
{
    animation: bubbleMove1 3s ease-in-out infinite alternate;
    top:50%;
    left:30%;
    width:500px;
    height:500px;
   
}

.bubble3
{
    animation: bubbleMove3 3s ease-in-out infinite alternate;
    top:80%;
    left:57%;
}

.bubble4
{
    animation: bubbleMove2 3s ease-in-out infinite alternate;
    top:44%;
    left:50%;
    width:400px;
    height:400px;
   
}

.project_group
{
    width:95%;
    height:40%;
    margin-left:2.5%;
    margin-top:25%;
}

.project_container
{
    width:100%;
    height:30%;
    border:1px solid white;
    margin-top:5%;
    border-radius:1%;
    position:relative;
    background: linear-gradient(to bottom, rgb(46, 56, 71) 100%, rgba(34, 40, 49, 1) 100%);
}

.pj_imgBg
{
    width:35%;
    height:80%;
    position:absolute;
    margin-left:2%;
    margin-top:3%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.port_img
{
    width:60%;
    height:100%;
}

.land_img
{
    width:100%;
    height:55%;
}

.full_img
{
    width:100%;
    height:100%;
}

.backBtn, .nextBtn
{
    position: absolute;
    top:90%;
    width:100px;
    height:50px;
}

.backBtn
{
    left:11%;
}

.nextBtn
{
    left:21%;
}

/* project details */

.pj_info
{
    width:55%;
    height:95%;
    border-left: 3px solid white;
    position:absolute;
    top:0.1%;
    left:43%;
}

.project_mb, .project_tt, .project_pd, .project_if, .github_link, .project_func, .project_skills
{
    display:flex;
    align-items: center;
    margin-left:5%;
    font-weight:100;
}

.project_mb
{
    margin-top:5%;
    width:30%;
    margin-left:6%;
    
}

.project_tt
{
    font-size:40px;
    width:100%;
}

.project_pd
{
    position:absolute;
    top:2%;
    margin-left:75%;
    width:25%;
    font-size:23px;
}

.project_if
{
    margin-top:3%;
    width:90%;
    font-size:15px;
    
}

.github_link
{
    height:10%;
    margin-top:1%;
    width:60%;
}

.github_btn
{
    width:27%;
    height:70%;
    margin-left:2%;
    border-radius:7%;
    display:flex;
}

.playstoreLogo, .githubLogo
{
    position:relative;
    display:flex;
    align-items: left;
    align-items: center;
    width:25%;
    height:90%;
    margin-top:1.5%; 
}

.linkBtn_info
{
    display:flex;
    font-weight:bold;
    height:100%;
    justify-content: center;
    align-items: center;
    margin-left:13%;
}
.project_func
{   
    position:flex;
    margin-top:5%;
}

.project_func_items
{
    height:100%;
    width:85%;
    font-size:13px;
}

.project_func_tt
{
    height:100%;
    width:15%;
    font-weight:bold;
    font-size:15px;
    display:flex;
    align-items: center;
}

.project_skills
{
    margin-top:1%;
    flex-wrap: wrap;
}

.skill_items
{
    width:130px;
    height:50px;
    font-size:15px;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-left:3%;
    margin-top:3%;
    border-radius:7%;
    background:black;
}




@keyframes bubbleMove1 {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(50px);
    }
}

@keyframes bubbleMove2 {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(30px);
    }
}

@keyframes bubbleMove3 {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(70px);
    }
}




@media (max-width:1300px)
{
    .div4_1 > div
    {
        height:15%;
    }

    .div2_2, .halfRound_border, .cartoonImg
    {
        visibility:hidden;
    }
}

@media (max-width:1100px)
{

    

    
    

    

    

    
    .pj_container
    {
    width: 25%;
    height: 50%;   
    }
    .pj_Titletext
    {
    
    font-size: 25px;
    
    }
}

@media (max-width:1000px)
{
    

    

}

@media (max-width: 800px)
{
    .btnClass
    {
        visibility: hidden;
        display:absolute;
        flex-direction: column;
        background:black;
        width:14%;
        height:150px;
        border-radius:0 0 10% 10%;
        border: 3px solid white;
        justify-content: center;
        align-items: center;
        right:4.8%;
        top:100%;
        
    }

    .menuBtn
    {
        visibility: visible;
    }

    .btnClass button
    {
        margin-left:30%;
    }

    .myInfo
    {
        font-size:20px;       
    }

    

   

    
    

    

    

    
    
}

@media (max-width: 700px)
{
    

    .div3
    {
        height:1500px;
    }
    .div3_1
    {
    flex-direction: column;
    align-items:center;
    }
    .pj_container
    {
        width:50%;
        height:50%;
    }
}

@media (max-width: 600px)
{
    .menuBtn
    {
        right:8.5%;
    }

    .titleTxt
    {
        font-size:60px;
    }

    .subTitleTxt
    {
        font-size:30px;
        margin-top:-10%;
    }

    

    .myInfo
    {
        font-size:15px;       
    }

    .liGroup
    {
        top:45%;
    }

}