.pp_headerBg
{
    background:black;
    height:400px;
    width:100%; 
    position:relative;
}

.pp_navBar
{
    z-index: 1000;
    position:fixed;
    width:100%;
    height:60px;
    border-radius: 0 0 15px 15px;
    border: 3px solid white;
    background:black;
}

.p_div1
{
    display:flex;
    
    width:100%;
    height:1500px;
    justify-content:center;
    align-items:center;
    
}

.pp_gradientOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #1d1f2a00 70%, #292b33 100%);
    pointer-events: none; 
}




.p_title
{
   font-size:100px;
   color:white;
   position:absolute;
   top:30%;
   left:30%;
}



.pp_list1, .pp_list2
{
    position:absolute;   
    font-size:40px;
    font-weight:bold;
    flex-direction:column;
    cursor:pointer;
}

.pp_list1
{   
    top:150%;
}

.pp_list2
{   
    top:170%;
}

.pp_content
{
    position:absolute;
    width:60%;
    height:100%;
    border:3px solid black;
    top:130%;
    right:0;
    background:white;
    border-radius:7%;
    visibility: hidden;
    
}

