.MainSc{
    background-color: blue;
    margin:0;
    

}

.headerBg{
    background-color: black;
    height: 100px;
    width: 100vw;
    align-items: center;
    justify-content: right;
    display:flex;
    position: relative;
    color: White;
}

.titleTxt{
    color: White;
    font-weight:bold;
    font-size: 30px;
    margin-right:10%;
}

.my-img{
    position:absolute;
    top:25px;
    left:10%;
    border: solid black 3px;
    transform: translateX(-50%);
    width: 150px;
    height:150px;
    border-radius: 50%;
}



.contactInfo{
    display:flex;
    justify-content: flex-end;
    margin-right: 26px;
    margin-top:10px;
}

.email{
    text-align:right;
    margin-top:60px;
    margin-right:50px;
}

.github{
    background:none;
    border:0;
}

.aboutMe{
    font-size:45px;
    font-weight:bold;
    display:flex;
    align-items: center;
    width:80%;
    height:80px;
   
    border-bottom: solid black 7px;
    margin-top:100px;
    margin-left:100px;
}



